<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body>
{{ $container := cond ($.Site.Params.FullWidthTheme | default false) "container full" (cond ($.Site.Params.CenterTheme | default false) "container center" "container") }}

<div class="{{- $container -}}{{- cond ($.Site.Params.oneHeadingSize | default false) " headings--one-size" "" }}">

  {{ partial "header.html" . }}

  <div class="content">
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}
</div>

<div class="right-space-animation">
  <!-- No nebula layer anymore – removed completely -->

  <!-- 16 random falling particles (white-ish, interactable) -->
  <div class="particle" style="--delay: 0s;   --left: 15%; --size: 3px; --duration: 14s; --blur: 1px;"></div>
  <div class="particle" style="--delay: 1.2s; --left: 28%; --size: 5px; --duration: 20s; --blur: 1.8px;"></div>
  <div class="particle" style="--delay: 2.8s; --left: 42%; --size: 4px; --duration: 17s; --blur: 1.2px;"></div>
  <div class="particle" style="--delay: 4.5s; --left: 55%; --size: 6px; --duration: 24s; --blur: 2px;"></div>
  <div class="particle" style="--delay: 6s;   --left: 68%; --size: 3.5px; --duration: 16s; --blur: 1.4px;"></div>
  <div class="particle" style="--delay: 7.8s; --left: 22%; --size: 4.5px; --duration: 19s; --blur: 1.5px;"></div>
  <div class="particle" style="--delay: 9.5s; --left: 38%; --size: 5.5px; --duration: 22s; --blur: 1.9px;"></div>
  <div class="particle" style="--delay: 11s;  --left: 50%; --size: 4px; --duration: 18s; --blur: 1.3px;"></div>
  <div class="particle" style="--delay: 13s;  --left: 63%; --size: 3px; --duration: 15s; --blur: 1px;"></div>
  <div class="particle" style="--delay: 14.5s; --left: 76%; --size: 5px; --duration: 23s; --blur: 1.7px;"></div>
  <div class="particle" style="--delay: 16s;  --left: 30%; --size: 4px; --duration: 20s; --blur: 1.4px;"></div>
  <div class="particle" style="--delay: 17.5s; --left: 48%; --size: 6px; --duration: 25s; --blur: 2.1px;"></div>
  <div class="particle" style="--delay: 19s;  --left: 62%; --size: 3.5px; --duration: 17s; --blur: 1.2px;"></div>
  <div class="particle" style="--delay: 20.5s; --left: 75%; --size: 4.5px; --duration: 21s; --blur: 1.6px;"></div>
  <div class="particle" style="--delay: 22s;  --left: 25%; --size: 5px; --duration: 19s; --blur: 1.5px;"></div>
  <div class="particle" style="--delay: 23.5s; --left: 55%; --size: 4px; --duration: 22s; --blur: 1.8px;"></div>
</div>

</body>
</html>
